# deemix.container
[Container]
ContainerName=deemix
Environment=DEEMIX_MUSIC_DIR=/data/music PUID=0 PGID=0 UMASK_SET=022
Image=ghcr.io/bambanah/deemix:latest
Network=container:gluetun
PublishPort=6595:6595
Volume=/run/media/arunscape/znas/server/deemix:/config
Volume=/run/media/arunscape/znas/server/data:/data:z
#https://github.com/bambanah/deemix/issues/159
Volume=/run/media/arunscape/znas/server/data/downloads:/downloads:z
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target

[Unit]
BindsTo=gluetun.service
After=gluetun.service
