[Container]
ContainerName=forgejo
Environment=USER_UID=0
Environment=USER_GID=0
Image=codeberg.org/forgejo/forgejo:9
PublishPort=3000:3000
PublishPort=2222:22
Volume=/run/media/arunscape/znas/server/forgejo:/data:z
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
