# qbittorrent.container
[Container]
ContainerName=qbittorrent
# podman is rootless so 0 maps to 1000 on the host
Environment=PUID=0 PGID=0 TZ=Canada/Mountain WEBUI_PORT=8080 TORRENTING_PORT=6881
Image=lscr.io/linuxserver/qbittorrent:latest
Network=container:gluetun
PublishPort=8080:8080
PublishPort=6881:6881
PublishPort=6881:6881/udp
Volume=/run/media/arunscape/znas/server/qbittorrent/config:/config
Volume=/run/media/arunscape/znas/server/downloads:/downloads:z

[Service]
Restart=always
BindsTo=gluetun.service
