# qbittorrent.container
[Container]
ContainerName=qbittorrent
# podman is rootless so 0 maps to 1000 on the host
Environment=PUID=0 PGID=0 UMASK=002 TZ=Canada/Mountain WEBUI_PORTS=8080/tcp,8080/udp
Image=ghcr.io/hotio/qbittorrent
Network=container:gluetun
PublishPort=8080:8080
Volume=/run/media/arunscape/znas/server/qbittorrent:/config
Volume=/run/media/arunscape/znas/server/data:/data:z

[Service]
Restart=always

[Unit]
BindsTo=gluetun.service
After=gluetun.service

[Install]
WantedBy=default.target
