# radarr.container
[Container]
ContainerName=radarr
Environment=PUID=0 PGID=0 UMASK=002 TZ=Canada/Mountain
Image=ghcr.io/hotio/radarr
PublishPort=7878:7878
Volume=/run/media/arunscape/znas/server/radarr:/config
Volume=/run/media/arunscape/znas/server/data:/data:z
AutoUpdate=registry
#Network=container:gluetun
Network=servarr.network

[Service]
Restart=always

[Install]
WantedBy=default.target

[Unit]
#BindsTo=gluetun.service
#After=gluetun.service
BindsTo=prowlarr.service
After=prowlarr.service
