# sonarr.container
[Container]
ContainerName=sonarr
Environment=PUID=0 PGID=0 UMASK=002 TZ=Canada/Mountain
Image=ghcr.io/hotio/sonarr
PublishPort=8989:8989
Volume=/run/media/arunscape/znas/server/sonarr:/config
Volume=/run/media/arunscape/znas/server/data:/data:z
AutoUpdate=registry
#Network=container:gluetun
Network=servarr.network

[Service]
Restart=always

[Install]
WantedBy=default.target

[Unit]
#BindsTo=gluetun.service
#After=gluetun.service
BindsTo=prowlarr.service
After=prowlarr.service
