#[Unit]
#After=whoami.socket
#Requires=whoami.socket

[Container]
Image=traefik/whoami
PublishPort=1234:80
Notify=true
#this service doesn't need outgoing requests
#Network=none
